<header>
  <nav class="navbar navbar-expand-sm bg-light border-bottom">
    <div class="container-fluid" style="width: 1000px; margin: auto;">
      <!-- Brand/logo -->
      <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbar-collapse">
        <ul class="navbar-nav me-auto" style="font-size: 16px;">
          <li class="nav-item">
            <a class="nav-link" href="/home" style="color: #333;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobs" style="color: #333;">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post" style="color: #333;">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="color: #333;">About</a>
          </li>
        </ul>
        <!-- User Account and Logout -->
        <div class="d-flex">
          <a href="/profile" class="nav-link" style="color: #333; margin-right: 10px;">My Profile</a>
          <a href="/logout" class="nav-link" style="color: #333;">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>
